# Git
.git
.gitignore

# Python cache
__pycache__
*.pyc
*.pyo
*.pyd

# Virtual env
venv
.env
.env.*

# Node
node_modules
frontend/node_modules

# Data besar
data/
experiments/

# Vector database
data/vector_store/

# Logs
*.log

# OS
.DS_Store

frontend/
experiments/
docs/
scripts/
data/